<footer class="footer text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img src="assets/memeotecnia-logo-horizontal.svg" width="300" alt="logo Memeotecnia">
        <p class="text-black">
          Un espacio que favorece el aprendizaje mediante la asociación de conceptos a través de memes.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-black">Enlaces</h5>
        <ul class="list-unstyled mb-0">
          <li class="mt-2">
            <a routerLink="/acerca-de-memeotecnia" class="text-black"><i class="bi bi-lightbulb me-1"></i>¿Qué es la Memeotecnia?</a>
          </li>
          <li class="mt-2">
            <a routerLink="/crear-meme" class="text-black"><i class="bi bi-pencil-square me-1"></i>Crear un meme</a>
          </li>
          <li class="mt-2">
            <a routerLink="/kit-prensa" class="text-black"><i class="bi bi-newspaper me-1"></i>Kit de prensa</a>
          </li>
          <li class="mt-2">
            <a routerLink="/contacto" class="text-black"><i class="bi bi-envelope-check me-1"></i>Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="mb-0 mt-5 text-black">¡Estamos en redes sociales!</h5>
        <ul class="list-unstyled d-flex justify-content-between mt-3">
          <li>
            <a href="https://www.facebook.com/Memeotecnia" class="text-black"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.twitter.com/Memeotecnia" class="text-black"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/Memeotecnia" class="text-black"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="https://t.me/Memeotecnia" class="text-black"><i class="bi bi-telegram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 copyright">
    © 2022 Todos los derechos reservados:
    <a class="text-white" routerLink="/">Memeotecnia</a>
  </div>
</footer>
