<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img class="img-fluid" src="assets/actitud-positiva-acerca-de-memeotecnia.svg" alt="sobre Memeotecnia">
    </div>
    <div class="col-md-6 col-sm-12">
      <h1 class="mt-5">¿Qué es la Memeotecnia?</h1>
      <p class="mt-5">Memeotecnia surge de la combinación ingeniosa de las palabras: meme y mnemotecnia. </p>
      <p>Aspiramos a crear una habilidad que favorezca el aprendizaje mediante la asociación de conceptos a través de memes. Nuestra idea es proveer un repositorio interactivo para profesores de todas las enseñanzas a través del cual puedan encontrar un lenguaje común para la construcción del conocimiento.
      </p>

      <p> Además, entusiastas de todo el mundo podrán encontrar inspiración para sus contenidos en plataformas digitales empleando nuestro buscador y la división por colecciones.
      </p>
      <div class="text-center">
        <button routerLink="/memes-recientes" class="btn color-primario">Memes recientes</button>
      </div>
    </div>
  </div>
</div>
