<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img class="img-fluid" src="assets/about-memeotecnia.svg" alt="sobre Memeotecnia">
    </div>
    <div class="col-md-6 col-sm-12">
      <h1 class="mt-5">¿Qué es la Memeotecnia?</h1>
      <p class="mt-5">Memeotecnia surge de la combinación ingeniosa de las palabras: meme y mnemotecnia. </p>
      <p>Aspiramos a crear una habilidad que favorezca el aprendizaje mediante la asociación de conceptos a través de memes.</p>
      <div class="text-center">
        <button routerLink="/acerca-de-memeotecnia" class="btn color-primario">¡Saber más!</button>
      </div>
    </div>
  </div>
</div>
