<div class="container mb-5">
  <h1 class="text-center">¡Denunciar abuso!</h1>
  <div class="row mt-4">
    <div class="col-md-6 col-sm-12">
      <h6 class="mt-2 mb-2 text-center">Vista previa de meme</h6>
      <img class="img-fluid" *ngIf="meme" [src]="backend.host+meme.rutaImagen" alt="Meme en Memeotecnia">
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>¿Qué ha ocurrido con este meme?</h3>
      <form (ngSubmit)="postDenuncia(denunciaForm)" class="needs-validation" method="get" #denunciaForm="ngForm" novalidate>
        <div class="mt-3 mb-3">
          <span class="text-muted">ID del meme a denunciar: <span
              class="badge bg-danger">{{idMeme}}</span></span>
        </div>
        <div class="mt-2">
          <label for="email" class="form-label"> Indica tu correo electrónico:</label>
          <input email type="email" [ngClass]="validClasses(email, 'is-valid', 'is-invalid')" #email="ngModel" class="form-control" id="email" name="email" placeholder="Ej: pepe@ejemplo.com" [(ngModel)]="nuevaDenuncia.emailContacto"
            minlength="5" maxlength="100" required>
          <div class="invalid-feedback">Escriba un correo electrónico con formato
            válido. Ej: pepe@ejemplo.com </div>
        </div>
        <div class="mt-2">
          <span>Indica la razón de tu denuncia: </span>
        </div>
        <div class="input-group mt-2">
          <label for="razon" class="input-group-text">Seleccione:</label>
          <select [ngClass]="validClasses(asunto, 'is-valid', 'is-invalid')" #asunto="ngModel" id="razon" name="razon" class="form-select" aria-label="Default select example" [(ngModel)]="nuevaDenuncia.razonDenuncia">
            <option *ngIf="mensaje.touched && mensaje.invalid" selected></option>
            <option value="Derechos de autor">Derechos de autor</option>
            <option value="Pornografía">Pornografía</option>
            <option value="Violencia">Violencia</option>
            <option value="Racismo">Racismo</option>
            <option value="Estoy en la foto">Estoy en la foto</option>
            <option value="Otra razón">Otra razón</option>
          </select>
        </div>
        <div class="mt-2">
          <label for="descripcion" class="form-label">Descripción:</label>
          <textarea [ngClass]="validClasses(mensaje, 'is-valid', 'is-invalid')" #mensaje="ngModel" class="form-control" id="descripcion" name="descripcion"
            placeholder="Ej: Este meme incumple los Términos y Condiciones..." minlength="20" maxlength="200"
            required [(ngModel)]="nuevaDenuncia.descripcion"></textarea>
          <div *ngIf="mensaje.touched && mensaje.invalid" class="invalid-feedback"> Escriba entre 20 y 2000 caracteres</div>
        </div>
        <button class="btn color-primario w-100 mt-4">Enviar</button>
      </form>
    </div>
  </div>
</div>
