<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="mt-5">¿Cómo funciona?</h2>
        <table class="mt-5">
          <tr>
            <td>
              <i class="bi bi-pencil-square fs-4 me-2"></i>
            </td>
            <td>
              <h4>Crea y comparte</h4>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              Los memes más divertidos para tus alumnos o compañeros de clase.
            </td>
          </tr>
          <tr>
            <td>
              <i class="bi bi-tags fs-4 me-2"></i>
            </td>
            <td>
              <h4 class="mt-3">Añade a una colección</h4>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              Podrás añadir tus propias colecciones
            </td>
          </tr>
          <tr>
            <td>
              <i class="bi bi-emoji-laughing fs-4 me-2"></i>
            </td>
            <td>
              <h4 class="mt-3">Haz que rían y aprendan</h4>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              Compártelo en la plataforma que quieras
            </td>
          </tr>
        </table>
        <div class="text-center mt-3">
          <button routerLink="/memes-recientes" class="btn color-primario">¡Empezar ahora!</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-5">
        <div>
          <img class="img-fluid" src="assets/como-funciona-memeotecnia.svg" alt="sobre Memeotecnia">
        </div>
      </div>
    </div>
  </div>
</div>
