<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1 class="titulo">Kit de prensa</h1>
        <p>En el siguiente enlace, le ofrecemos un conjunto de materiales sobre el proyecto que pueden ser útiles para colaboraciones y acciones de comunicación.
        </p>
        <div class="text-center mt-3">
          <a target="_blank" href="https://drive.google.com/drive/folders/1aA-QSmJIq1T13y97j4VKSxcKe_Kh2rg_?usp=sharing" class="btn color-primario"><i class="bi bi-download me-1"></i>¡Descargar kit!</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-5">
        <div>
          <img class="img-fluid" src="assets/memeotecnia-kit-de-prensa.svg" alt="Kit de prensa de Memeotecnia">
        </div>
      </div>
    </div>
  </div>
</div>

